In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Solano County\As CSV\All Solano Data.csv',
                     encoding = "ISO-8859-1", engine='python')
df_raw.rename(columns = {'Agency_to_transfer_to_1st_other': 'Agency_transfer_to_1st_other',
                         'Route_tranfer_from_1st_other': 'Route_transfer_from_1st_other'}, inplace=True)
df = df_raw.copy()
display(df.head())
print(df.shape)

,ID,Agency,Survey_route_fast,Survey_route_other_fast,Survey_route_rvdb,Survey_route_other_rvdb,Survey_route_soltrans,Survey_route_other_soltrans,Survey_route_vcc,Survey_route_other_vcc,...,Egress_distance,Weight,First_board_lat,First_board_lon,Last_alight_lat,Last_alight_lon,Survey_language,Survey_type,Survey_date,Survey_time
0,1025,FAST,1.0,,NaN,,NaN,,NaN,,...,NaN,20.29,38.274642,-122.033977,38.254711,-122.034323,English,Onboard,5/15/2017,12:05
1,1027,FAST,1.0,,NaN,,NaN,,NaN,,...,NaN,20.29,38.250062,-122.039056,38.248292,-122.068694,English,Onboard,5/15/2017,12:17
2,1049,FAST,1.0,,NaN,,NaN,,NaN,,...,NaN,20.29,37.733054,-122.433819,38.259118,-122.034062,English,Onboard,5/15/2017,15:36
3,1069,FAST,1.0,,NaN,,NaN,,NaN,,...,NaN,20.29,38.279086,-122.035275,38.199994,-122.148743,English,Onboard,5/3/2017,8:34
4,1076,FAST,1.0,,NaN,,NaN,,NaN,,...,NaN,20.29,38.279945,-122.025554,38.297550,-122.280433,English,Onboard,5/3/2017,14:33

(705, 173)

In [3]:
for i in ['Agency_transfer_from_1st', 'Agency_transfer_from_2nd', 'Agency_transfer_from_3rd',
          'Agency_transfer_to_1st', 'Agency_transfer_to_2nd', 'Agency_transfer_to_3rd',
          'Route_transfer_from_1st', 'Route_transfer_from_2nd', 'Route_transfer_from_3rd',
          'Route_transfer_to_1st', 'Route_transfer_to_2nd', 'Route_transfer_to_3rd']:
    df[i+'_temp'] = df[i]
    df.loc[df[i+'_temp'] == 'Other', i+'_temp'] = df.loc[df[i+'_temp'] == 'Other', i+'_other']

df['Agency_route_transfer_from_1st'] = df['Agency_transfer_from_1st_temp'] + '___' + df['Route_transfer_from_1st_temp']
df['Agency_route_transfer_from_2nd'] = df['Agency_transfer_from_2nd_temp'] + '___' + df['Route_transfer_from_2nd_temp']
df['Agency_route_transfer_from_3rd'] = df['Agency_transfer_from_3rd_temp'] + '___' + df['Route_transfer_from_3rd_temp']
df['Agency_route_transfer_to_1st'] = df['Agency_transfer_to_1st_temp'] + '___' + df['Route_transfer_to_1st_temp']
df['Agency_route_transfer_to_2nd'] = df['Agency_transfer_to_2nd_temp'] + '___' + df['Route_transfer_to_2nd_temp']
df['Agency_route_transfer_to_3rd'] = df['Agency_transfer_to_3rd_temp'] + '___' + df['Route_transfer_to_3rd_temp']

df['Daypart_midpoint'] = df['Daypart']
df['Time_left_home_midpoint'] = df['Time_left_home']
df['Time_return_home_midpoint'] = df['Time_return_home']
df['Time_same_trip_opposite_direction_midpoint'] = df['Time_same_trip_opposite_direction']


df_new = df[list(df_raw) + ['Agency_route_transfer_from_1st', 'Agency_route_transfer_from_2nd',
                            'Agency_route_transfer_from_3rd',
                            'Agency_route_transfer_to_1st','Agency_route_transfer_to_2nd',
                            'Agency_route_transfer_to_3rd',
                            'Daypart_midpoint',
                            'Time_left_home_midpoint',
                            'Time_return_home_midpoint',
                            'Time_same_trip_opposite_direction_midpoint']]
df_new.to_csv(r'M:\Data\OnBoard\Data and Reports\Solano County\As CSV\All Solano Data_removeTypos_add_route_time.csv', index=False)

In [11]:
routes = pd.DataFrame(columns = ['Agency','route'])
for i in ['Agency_route_transfer_from_1st', 'Agency_route_transfer_from_2nd', 'Agency_route_transfer_from_3rd',
          'Agency_route_transfer_to_1st', 'Agency_route_transfer_to_2nd', 'Agency_route_transfer_to_3rd']:
    route_unique = df[['Agency', i]]
    route_unique.columns = ['Agency','route']
    routes = pd.concat([routes, route_unique])

routes_clean = routes.loc[routes.route.notnull()]
routes_clean.drop_duplicates(inplace=True)
print(routes_clean.shape)
routes_clean.to_csv(r'M:\Data\OnBoard\Data and Reports\Solano County\As CSV\all_routes_raw.csv', index=False)

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

(167, 2)