In [2]:
import pandas as pd

In [3]:
df_raw = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Sonoma County\2018\As CSV\sc transit_data file_final_spring 2018 NO POUND NO SINGLE QUOTE.csv')
cols = [x.strip().replace(' ','_').lower() for x in list(df_raw)]
df = df_raw.copy()
df.columns = cols

df['first_route_before_survey_board'] = df['1_system_before'] + '___' + df['1_route_before'].astype(str)
df['second_route_before_survey_board'] = df['2_system_before'] + '___' + df['2_route_before'].astype(str)
df['first_route_after_survey_alight'] = df['1_after_system'] + '___' + df['1_route_after_system'].astype(str)
df['second_route_after_survey_alight'] = df['2_after_system'] + '___' + df['2_route_after_system'].astype(str)
df['third_route_after_survey_alight'] = df['3_after_system'] + '___' + df['3_route_after_system'].astype(str)

df['survey_time'] = df['interview_start_time']
df.rename(columns = {'ccgid': 'id'}, inplace=True)

for i in ['race_dmy_ind', 'race_dmy_hwi', 'race_dmy_blk', 'race_dmy_wht', 'race_dmy_asn', 'race_dmy_hisp']:
    df[i] = df[i].fillna(0)
    df[i] = df[i].apply(lambda x: int(x))

print(list(df))
display(df.head())

df.to_csv(r'M:\Data\OnBoard\Data and Reports\Sonoma County\2018\As CSV\sc transit_data file_final_spring 2018_addRoutesCols NO POUND NO SINGLE QUOTE.csv')

['id', 'runid', 'interview_start_time', 'interview_end_time', 'day_of_week', 'date', 'type_of_day', 'strata', 'route', 'dir', 'orig_purp', 'dest_purp', 'sch_status', 'school_name', 'college_name', 'access_mode', 'egress_mode', 'unnamed:_17', 'unnamed:_18', 'unnamed:_19', 'orig_lat', 'orig_lon', 'first_board_lat', 'first_board_lon', 'last_alight_lat', 'last_alight_lon', 'endlat', 'endlon', 'xfers_before', '1_system_before', '1_route_before', '1_before_lat_start', '1_before_long_start', '1_before_lat_end', '1_before_long_end', '2_system_before', '2_route_before', '2_before_lat_start', '2_before_long_start', '2_before_lat_end', '2_before_long_end', 'routeboard_lat', 'routeboard_long', 'routealight_lat', 'routealight_long', 'xfers_after', '1_after_system', '1_route_after_system', '1_after_lat_start', '1_after_long_start', '1_after_lat_end', '1_after_long_end', '2_after_system', '2_route_after_system', '2_after_lat_start', '2_after_long_start', '2_after_lat_end', '2_after_long_end', '3_after_system', '3_route_after_system', '3_after_lat_start', '3_after_long_start', '3_after_lat_end', '3_after_long_end', 'fare', 'farecat', 'cars', 'hh', 'hhwork', 'yearborn', 'age', 'hisp', 'race_dmy_ind', 'race_dmy_hwi', 'race_dmy_blk', 'race_dmy_wht', 'race_dmy_asn', 'race_dmy_hisp', 'race_other', 'household_income', 'language_at_home_binary', 'language_at_home_detail', 'eng_proficient', 'livebay', 'homelat', 'homelon', 'work_status', 'worklat', 'worklon', 'at_work_after_dest_purp', 'at_work_prior_to_orig_purp', 'school_lat', 'school_lon', 'at_school_after_dest_purp', 'at_school_prior_to_orig_purp', 'depart_hour', 'return_hour', 'gender', 'mode', 'wcode', 'weight', 'tweight', 'first_route_before_survey_board', 'second_route_before_survey_board', 'first_route_after_survey_alight', 'second_route_after_survey_alight', 'third_route_after_survey_alight', 'survey_time']

,id,runid,interview_start_time,interview_end_time,day_of_week,date,type_of_day,strata,route,dir,...,mode,wcode,weight,tweight,first_route_before_survey_board,second_route_before_survey_board,first_route_after_survey_alight,second_route_after_survey_alight,third_route_after_survey_alight,survey_time
0,350,135,9:23 AM,9:39 AM,THUR,4/5/2018,WEEKDAY,AM PEAK,44,SOUTH,...,INTERVIEWER_TABLET,30,30.525000,152.625000,NaN,NaN,NaN,NaN,NaN,9:23 AM
1,808,25,4:28 PM,4:38 PM,TUE,3/27/2018,WEEKDAY,PM PEAK,48,NORTH,...,INTERVIEWER_TABLET,60,36.305882,181.529412,NaN,NaN,NaN,NaN,NaN,4:28 PM
2,338,75,12:03 PM,12:20 PM,TUE,4/3/2018,WEEKDAY,MIDDAY,60,SOUTH,...,INTERVIEWER_TABLET,30,30.525000,152.625000,NaN,NaN,NaN,NaN,NaN,12:03 PM
3,335,75,11:28 AM,11:38 AM,TUE,4/3/2018,WEEKDAY,MIDDAY,60,SOUTH,...,INTERVIEWER_TABLET,30,30.525000,152.625000,NaN,NaN,NaN,NaN,NaN,11:28 AM
4,326,60,9:26 AM,3:37 PM,THUR,3/29/2018,WEEKDAY,AM PEAK,12,LOOP,...,INTERVIEWER_MIX,28,46.300000,231.500000,NaN,NaN,NaN,NaN,NaN,9:26 AM

In [3]:
routes = pd.DataFrame(columns = ['route'])
for i in ['first_route_before_survey_board', 'second_route_before_survey_board',
          'first_route_after_survey_alight', 'second_route_after_survey_alight', 'third_route_after_survey_alight']:
    route_unique = df[[i]]
    route_unique.columns = ['route']
    routes = pd.concat([routes, route_unique])

routes_clean = routes.loc[routes.route.notnull()]
routes_clean.drop_duplicates(inplace=True)
print(routes_clean.shape)
routes_clean.to_csv(r'M:\Data\OnBoard\Data and Reports\Sonoma County\2018\As CSV\all_routes_raw.csv', index=False)

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

(42, 1)

In [4]:
var = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Sonoma County\2018\As CSV\variables_dictionary.csv',
                  encoding = "ISO-8859-1", engine='python')

for i in var['Survey_Variable']:
    if i not in list(df):
        print(i)

In [5]:
var_clean = var[['operator', 'Survey_year', 'Survey_Variable', 'Survey_Response', 
                 'Generic_Variable', 'Generic_Response']].drop_duplicates()
var_clean.to_csv(r'M:\Data\OnBoard\Data and Reports\Sonoma County\2018\As CSV\vars_for_standard_dictionary.csv', index=False)

In [6]:
df.route.unique()

array(['44', '48', '60', '12', '30', '32', '44X', '20', '40', '48X', '10',
       '67', '62', '53', '34', '68', '14', '54', '26', '22', '38', '57',
       '66', '52', '46', '24', '28', '42', '30X', '20X'], dtype=object)